@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --pri-mod-blue : hsl(238, 40%, 52%);
    --pri-soft-red : hsl(358, 79%, 66%);
    --pri-light-gray-blue : hsl(239, 57%, 85%);
    --pri-pale-red : hsl(357, 100%, 86%);

    /* Neutral Colors */
    --neu-dark-blue : hsl(212, 24%, 26%);
    --neu-gray-blue : hsl(211, 10%, 45%);
    --neu-light-grey : hsl(223, 19%, 93%);
    --ne-very-light-grey : hsl(228, 33%, 97%);
    --ne-white : hsl(0, 0%, 100%);

    /* Font */
    --default-font-size : 1rem;
    --font-size-small : .8rem;

    /* Border */
    --default-border-radius : 7px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.8;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--neu-light-grey);
}

img {
    max-width: 100%;
}

/* ////////////////////////// */
/* Global Styles */
/* ////////////////////////// */

/* Main Container */
.container {
    width: min(90%,650px);
    margin: 2rem auto;
}

/* Avatar */
.avatar {
    width: 40px;
    height: auto;
}

/* Buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    border-radius: var(--default-border-radius);
    padding: 10px 1.5rem;
    outline: none;
    border: none;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 400;
}

.btn:focus,
textarea:focus {
    outline: none;
}

.btn-blue {
    background-color: var(--pri-mod-blue);
    color: #fff;
    transition: background-color .3s ease-out;
}

.btn-blue:hover {
    background-color: var(--pri-light-gray-blue);
}

/* ////////////////////////// */
/* Main Styles */
/* ////////////////////////// */

/* Comments Section */
/* Comment Box */
.comment-box {
    background-color: var(--ne-white);
    padding: 1rem;
    border-radius: var(--default-border-radius);
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.comment-box__main {
    order: -1;
    flex-basis: 100%;
    margin-bottom: 1rem;
}

.comment-box>div:nth-of-type(1),
.comment-box>div:nth-of-type(3) {
    flex-basis: 50%;
}

@media (min-width:700px) {
    .comment-box.large .comment-box__main {
        order: 1;
        flex-basis: 71%;
    }

    .comment-box.large>div:nth-of-type(1),
    .comment-box.large>div:nth-of-type(3) {
        flex-basis: 5%;
    }

    .comment-box.large>div:nth-of-type(1) {
        align-self: flex-start;
    }
    
    .comment-box.large>div:nth-of-type(3) {
        order: 3;
    }
}
.comment-box>div:nth-of-type(3) {
    display: flex;
    justify-content: end;
}

.comment-box__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.comment-box__user .user-avatar {
    display: flex;
    align-items: center;
}

.comment-box__user>span + span {
    margin-left: 1rem;
}

.comment-box__user .username {
    font-weight: 700;
    font-size: var(--default-font-size);
    color: var(--neu-dark-blue);
}


.comment-box__user .user-comment-date {
    font-size: var(--font-size-small);
    color: var(--neu-gray-blue);
    
}

/* Reply Section */
/* Add reply comment */
.add-comment-section.add-reply {
    margin: 1rem 0 2rem 0;
}

/* Reply Comment Boxes */
.comments-section .reply-section {
    margin-left: 1.5rem;
    position: relative;
}

.comments-section .reply-section::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    border-radius: var(--default-border-radius);
    background-color: var(--neu-gray-blue);
    opacity: .1;
    top: 0;
    left: -22px;
}

@media (min-width:700px) {
    .comments-section .reply-section {
        margin-left: 3.5rem;
    }
    .comments-section .reply-section::before {
        left: -30px;
    }
}

.comments-section .reply-section .comment-box__comment .reply-to {
    font-weight: 700;
    color: var(--pri-mod-blue);
    margin-right: 10px;
}


/* My Comment */
/* You Purple Tag */
.self-comment .comment-box__user .you-tag {
    background-color: var(--pri-mod-blue);
    color: var(--ne-white);
    padding: 0 10px;
    border-radius: var(--default-border-radius);
}

.self-comment .comment-box__user .comment-box__interact {
    display: none;
}

/* For Large Screen than 700px */
.self-comment.large .comment-box__user .comment-box__interact {
    display: block;
    margin-left: auto;
}
.self-comment.large .comment-box__interact:nth-of-type(3) {
    display: none;
}
.comment-box__interact--self>span + span {
    margin-left: 1rem;
}

@media (min-width:700px) {
    .self-comment.large .comment-box__main {
        order: 1;
        flex-basis: 85%;
    }
}

.self-comment .delete,
.self-comment .edit {
    cursor: pointer;
    transition: .3s color ease-out;
}

.self-comment .delete {
    color: var(--pri-soft-red);
}
.self-comment .delete:hover {
    color: var(--pri-pale-red);
}

.self-comment .edit {
    color: var(--pri-mod-blue);
}

.self-comment .edit:hover {
    color: var(--pri-light-gray-blue);
}

/* Comment */
.comment-box__comment .comment {
    font-size: var(--default-font-size);
    color: var(--neu-gray-blue);
}

/* Interaction */
.comment-box__interact .comment-score {
    background-color: var(--neu-light-grey);
    width: 110px;
    border-radius: var(--default-border-radius);
    padding: 7px 1rem;
    display: flex;
    justify-content: space-between;
}

.comment-box__interact .comment-score span {
    cursor: pointer;
}

.comment-box__interact .comment-score .like,
.comment-box__interact .comment-score .dislike {
    font-size: var(--default-font-size);
    color: var(--pri-light-gray-blue);
    font-weight: 700;
}

.comment-box__interact .comment-score .score {
    font-size: var(--default-font-size);
    color: var(--pri-mod-blue);
    font-weight: 700;
}

.comment-box__interact .reply {
    cursor: pointer;
    font-size: var(--default-font-size);
    color: var(--pri-mod-blue);
    font-weight: 500;
    transition: color .3s ease-out;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: end;
}

.comment-box__interact .reply>i {
    margin-right: 10px;
}

.comment-box__interact .reply:hover {
    color: var(--pri-light-gray-blue);
}

/* Comment Box for Large Screen */
.comment-box.large {
    display: flex;
    justify-content: space-between;
}

.comment-box.large>div:nth-of-type(2) {
    margin: 0 1rem;
}

.comment-box.large>div:nth-of-type(3) {
   align-self: flex-start;
}
.comment-box.large .comment-box__interact .comment-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
}

/* Add Comment Section */
.add-comment-section,
.add-reply {
    width: 100%;
    background-color: var(--ne-white);
    border-radius: var(--default-border-radius);
    padding: 1rem;
    position: relative;
}

.add-comment-section form,
.edit-comment-section,
.add-reply {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.add-comment-section form>textarea,
.edit-comment-section>textarea,
.add-reply>textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--neu-light-grey);
    border-radius: var(--default-border-radius);
    font-family: inherit;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    flex-basis: 100%;
}

.add-comment-section .add-comment__trigger,
.edit-comment-section .edit-comment__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:700px) {
    .add-comment-section>textarea,
    .edit-comment-section>textarea {
        flex-basis: 75%;
    }
    .add-comment-section>img {
        order: -1;
        align-self: flex-start;
    }
    .add-comment-section .add-comment__trigger,
    .edit-comment-section .edit-comment__trigger  {
        align-self: flex-start;
    }
}